@import "tailwindcss";

:root {
  --background: var(--color-gray-100);
  --foreground: var(--color-gray-900);
  --font-ibm-plex-serif: "IBM Plex Serif", serif;
  --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-900);
    --foreground: var(--color-gray-100);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans), Arial, Helvetica, sans-serif;
}

.font-serif {
  font-family: var(--font-ibm-plex-serif), serif;
}

/* Date picker customization */
.rdp-root {
  display: flex;
  justify-content: center;
  align-items: center;
  .rdp-day {
    --rdp-day-width: 54px;
    --rdp-day-height: 54px;
    --rdp-day_button-height: 52px;
    --rdp-day_button-width: 52px;
    font-size: 16px;
  }
}

.rdp-caption-label {
  font-size: 16px;
}

.rdp-day_button {
  --rdp-day_button-border-radius: 2px;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: var(--color-gray-300);
  }
  &:active {
    background-color: var(--color-gray-400);
  }
}

.rdp-selected .rdp-day_button {
  --rdp-selected-border: transparent;
  background-color: var(--color-gray-700);
  color: var(--color-white);
}

@media (min-width: 768px) {
  .rdp-root {
    .rdp-day {
      --rdp-day-width: 42px;
      --rdp-day-height: 42px;
      --rdp-day_button-height: 40px;
      --rdp-day_button-width: 40px;
      font-size: 14px;
    }
  }
  .rdp-caption_label {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .rdp-root {
    .rdp-day {
      --rdp-day-width: 50px;
      --rdp-day-height: 50px;
      --rdp-day_button-height: 48px;
      --rdp-day_button-width: 48px;
      font-size: 16px;
    }
  }
}

/* Date picker dots for journal entries */
.rdp-day.has-entry {
  position: relative;
}

.rdp-day.has-entry::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-58%);
  width: 6px;
  height: 6px;
  background-color: var(--color-gray-400);
  border-radius: 1px;
}

@media (min-width: 768px) {
  .rdp-day.has-entry::after {
    width: 4px;
    height: 4px;
    bottom: 5px;
    border-radius: 0.4px;
  }
}

@media (min-width: 1024px) {
  .rdp-day.has-entry::after {
    width: 5px;
    height: 5px;
    bottom: 6px;
    border-radius: 0.75px;
  }
}

.rdp-selected.has-entry::after {
  background-color: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  .rdp-day.has-entry::after {
    background-color: var(--color-gray-600);
  }
  .rdp-day_button {
    &:hover {
      color: var(--color-gray-50);
      background-color: var(--color-gray-700);
    }
    &:active {
      background-color: var(--color-gray-600);
    }
  }
  .rdp-selected .rdp-day_button {
    --rdp-selected-border: transparent;
    background-color: var(--color-gray-300);
    color: var(--color-gray-900);
  }
  .rdp-selected.has-entry::after {
    background-color: var(--color-gray-800);
  }
}
